.fiados {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.container-fiados {
display: flex
}

.fiados h2 {
    width: 100px;
    align-self: center;
}

.btn-filter {
 width: 200px;
 align-self: flex-end;
 margin-right: 50px;
 position: absolute;
 top: 25px;
}

.container-data {
background-color: white;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 10px;
border: 1px solid black;
}

.btn-fiados-user {
    cursor: pointer;
}

.btn-new-fiador {
 width: 200px;
 align-self: flex-end;
 margin-right: 50px;
 padding: 10px;
 margin-bottom: 20px;
}