.financeiro {
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
}
.container-financeiro {
    display: flex
}

.financeiro_container_data{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
}

.financeiro_cadastro_produto {
    display: flex;
    justify-content: space-around;
}

.financeiro_cadastro_produto_btn {
    width: 100px;
    height: 100px;
}

.financeiro_cadastro_produto_btn button {
    height: 50px;
    margin-top: 20px;

}

@media screen and (max-width: 600px){
    .financeiro_cadastro_produto {
        flex-direction: column;

    }
    .financeiro_cadastro_produto_btn {
        align-self: center;
    }
}