.financeiro {
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
}
.container-financeiro {
    display: flex
}

.container-data {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
}

.cadastro-produto {
    display: flex;
    justify-content: space-around;
}

.cadastro-produto > button {
    margin-bottom: 20px
}

@media screen and (max-width: 600px){
    .cadastro-produto {
        flex-wrap: wrap;
    }
}