.navbar {
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.user {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user p {
    width: 30vw;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 10px;
}   

.list_link {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.navlink {
    text-decoration: none;
    color: #fff;
    width: 30vw;
    height: 30px;
}

.navlinkdropdown {
    opacity: 0;
    margin-left: -130px;
}

.navlinkdropdown-active {
    opacity: 1;
    margin-left: -130px;
}

.navlink-active {
    text-decoration: none;
    color: #fff;
    width: 30vw;
    height: 30px;
}

@media screen and (max-width: 600px) {
    @keyframes open {
        from { height: 0px;}
        to { height: 80px;}
    }

    @keyframes close {
        from { height: 80px;}
        to { height: 0px;}
    }
    .list_link-active {
        position: absolute;
        background-color: orange;
        display: flex;
        flex-direction: column;
        right: 0px;
        top: 30px;
        width: 80px;
        overflow: hidden;
    }

    .list_link-active .navlink {
        margin-top: 10px;
    }

    .list_link-active .navlink:last-child {
        display: block;
        margin-left: -30px;
    }

    .user p {
        font-size: small;
    }

    
}