.fiadouser {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fiadouser_product {
    display: flex;
    background-color: cadetblue;
    justify-content: space-around;
}

.fiadouser_product h3 {
    margin-left: 20px;
    margin-right: 95px;
}

.fiadouser_data_product {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}